*{
  font-family: 'Dancing Script', cursive;
}

.bg-wrapper {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-image: url("./images/mainbackgroundimg.JPEG");
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: bottom;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

.hero-search-filter {
    background: url("https://images.pexels.com/photos/115095/pexels-photo-115095.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat;
    height: 300px;
    background-size: cover;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-search-filter-logo {
    margin-bottom: 2rem;
  }
  
  .hero-search-filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 300px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-search-filter-menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  @media screen and (max-width: 39.9375em) {
    .hero-search-filter-menu li {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
    }
    .hero-search-filter-menu li a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  .hero-search-filter-menu a {
    color: #fefefe;
    font-weight: bold;
  }
  
  .hero-search-filter-menu a .fa {
    font-size: 1.125rem;
    font-weight: normal;
    text-decoration: none;
  }
  
  .hero-search-filter-menu a:hover {
    text-decoration: underline;
  }
  
  .hero-search-filter-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    background: transparent;
    padding: 0.25rem;
    border-radius: 5px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-search-filter-form .divider {
    background-color: transparent;
    width: 1px;
  }
  
  .hero-search-filter-form label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: white;
    font-weight: bold;
    font-size: large;
  }
  
  .hero-search-filter-form input,
  .hero-search-filter-form .button {
    margin-bottom: 0;
    position: relative;
   
  }
  
  @media screen and (max-width: 39.9375em) {
    .hero-search-filter-form {
      width: 95%;
    }
  }
  
  .hero-search-filter-form-find,
  .hero-search-filter-form-near {
    border: 0;
    box-shadow: none;
    width: 40vw;
  }
  
  .hero-search-filter-form-find:focus,
  .hero-search-filter-form-near:focus {
    border: 0;
    box-shadow: none;
  }

  img {
  
      max-width:100%;
      height:auto;
  }

  h2 {
  color: white;
  font-family: 'Abril Fatface';
  align-items: center;
  
  /* -webkit-text-stroke: 1px darkgray; */
  }

  .hero-search-filter-form-find {
    background: transparent;
    border: gray 2px solid;
  }
  
  .hero-search-filter-form-near {
    background: transparent;
    border: gray 2px solid;
  }

  .button {
   background: gray;
  }


/* ----------- */

#restaurantContainer
{
  display: flex;
  flex-direction: row;
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

h6 {
color: white;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;

}
.product-card {
  background-color: transparent;
  border: 1px dotted gray;
  padding: 1rem;
  margin-bottom: 1.5rem;
  word-wrap:break-word;
}

.product-card-thumbnail {
  display: block;
  position: relative;
  width: 180px;/* added */
  height: 180px;/* added */
}



.product-card-thumbnail-image    /* added */
{
    width: 180px;
    height: 180px;
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}



/* Set the size of the div element that contains the map */
#map {                                                          /*added*/
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  #mapLink {
   justify-content: baseline;
  }

